* {
    box-sizing: border-box;
}

.custom-zoom [data-rmiz-modal-overlay="visible"] {
    background-color: rgba(19, 24, 39, 0.95);
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-left: -30px; */
    width: auto;
}

.my-masonry-grid_column {
    /* margin-left: 30px; */
    background-clip: padding-box;
}

.my-masonry-grid_column > div {
    margin-bottom: 60px;
}
